/* ==========================================================================
   TABLES
   ========================================================================== */

   table {
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    //border: 1px solid $light-gray;
  
    & + table {
      margin-top: 1em;
    }
  }
  
  thead {
    background-color: $lighter-gray;
    //border-bottom: 1px solid $light-gray;
  }
  
  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    //border-right: 1px solid $light-gray;
  }
  
  td {
    padding: 0.5em;
    //border-bottom: 1px solid $light-gray;
    //border-right: 1px solid $light-gray;
  }
  
  tr, td, th {
    vertical-align: middle;
  }

  /* 防止表格内容换行 */
  td, th {
    white-space: nowrap;
  }

  /* 在小屏幕上允许表格水平滚动 */
  @media screen and (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }